:root {
  --amarelo: #fb0;
  --branco: #fff;
  --amarelo-escuro: #320;
  --texto-cinza: #b2b2b2;
  --cinza-escuro: #111;
  --preto-menu: #121212;
}

.introducao-margem {
  display: block;
}

.introducao-logo {
  border: 2px solid black;
  border-radius: 4px;
}

.introducao-logo:active {
  border: 2px solid var(--branco);
  border-radius: 4px;
}

.introducao-menu {
  background-color: black;
  /* box-shadow: inset 0 -120px var(--branco); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  border-bottom: 2px solid var(--preto-menu);
  padding: 20px 80px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-items: end;
  gap: 30px;
  grid-column: 2;
  justify-self: end;
}

.menu-item {
  color: var(--branco);
  padding: 15px 0px;
  font-size: 1.225rem;
  border-bottom: 3px solid black;
}

.menu-item:hover {
  border-bottom: 3px solid var(--branco);
  transition: left right 0.3s;
}

.conteiner-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: black;
  box-shadow: inset 0 -120px var(--branco);
  padding: 0px 80px 0px 80px;
  align-items: center;
  border-bottom: none;
}

.introducao-img {
  grid-column: 2;
  grid-row: 1 / -1;
  border-radius: 4px;
  width: 100%;
  height: 750px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.conteiner-titulo {
  display: grid;
  grid-row: auto auto auto;
  grid-column: 1;
  grid-row: 1 / -1;
}

.introducao-titulo {
  color: var(--branco);
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.introducao-titulo-efeito {
  color: var(--amarelo);
}

.introducao-p {
  color: var(--texto-cinza);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.introducao-botao {
  color: var(--amarelo-escuro);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.125rem;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--amarelo);
  display: block;
  place-self: start;
  position: relative;
}

.introducao-conteiner::before {
  content: "";
  height: 52px;
  width: 52px;
  background: transparent url("../img/dec/bottom-left.svg") no-repeat;
  position: absolute;
  bottom: -120px;
}

@media (max-width: 800px) {
  .introducao-menu {
    grid-template-rows: auto auto min-content;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 40px 0px;
    padding: 40px 40px 0px 0px;
    background-color: black;
  }

  .menu {
    grid-column: 2;
    grid-row: 1;
    flex-wrap: nowrap;
  }

  .menu-item {
    padding: 10px 20px;
    background-color: var(--cinza-escuro);
    border-radius: 4px;
  }

  .menu-item:hover {
    background-color: #121212;
    border: none;
  }

  .introducao-img-bike {
    grid-column: 1 / -1;
    grid-row: 4;
    width: 100%;
  }
  .introducao-logo {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .conteiner-titulo {
    grid-column: 1 /-1;
    grid-row: 3;
  }
  .introducao-cinza-menu {
    background-color: black;
    z-index: 1;
  }
}
