@import url("../cores.css");
@import url("../menu.css");
@import url("../global.css");
@import url("./bik-info.css");
@import url("./escolha.css");
@import url("../rodape.css");
@import url("./seguro-bike.css");
