.conteiner-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-00);
  padding: 0px 80px 0px 80px;
  align-items: center;
  border-bottom: none;
  position: relative;
}

.introducao-img {
  grid-column: 2;
  grid-row: 1 / -1;
  border-radius: 4px;
  width: 100%;
  height: 750px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.conteiner-titulo {
  display: grid;
  grid-row: auto auto auto;
  grid-column: 1;
  grid-row: 1 / -1;
}

.introducao-titulo {
  color: var(--cor-00);
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.introducao-titulo-efeito {
  color: var(--cor-p2);
}

.introducao-p {
  color: var(--cor-07);
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-right: 20px;
}

.introducao-botao {
  color: var(--cor-p5);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--cor-p2);
  display: block;
  place-self: start;
  position: relative;
}

.img-dec {
  position: absolute;
  bottom: 140px;
  left: 20px;
}

@media (max-width: 900px) {
  .conteiner-introducao {
    background-color: var(--cor-11);
    gap: 20px;
    padding: 20px 40px;
  }
  .introducao-img-bike {
    grid-column: 1 / -1;
    grid-row: 4;
    width: 100%;
  }
  .conteiner-titulo {
    grid-column: 1 /-1;
    grid-row: 3;
  }
  .introducao-img {
    object-position: center;
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .introducao-titulo {
    font-size: 2.725rem;
  }
  .introducao-p {
    font-size: 1.125rem;
  }
  .introducao-botao {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .introducao-titulo {
    font-size: 2.225rem;
  }
  .introducao-p {
    font-size: 1.125rem;
  }
  .introducao-botao {
    font-size: 1rem;
  }
  .conteiner-introducao {
    padding: 20px 30px;
  }
}

/* Parte Esolha A Sua */

.introducao-escolha {
  margin: 40px;
  display: grid;
  grid-template-rows: 80px min-content;
}
.introducao-escolha-span {
  color: var(--cor-11);
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.box-over-bikes {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
}

.box-bikes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content min-content min-content;
  display: grid;
  min-width: 280px;
}

.bike-img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  object-position: right;
  border-radius: 4px;
}

.bike-nome::before {
  content: "";
  display: block;
  height: 10px;
  width: 15px;
  background-color: var(--cor-p2);
  position: absolute;
  left: -20px;
  bottom: 20px;
}
.bike-nome:hover {
  padding-left: 25px;
  transition: 0.3s;
}

.bike-nome:hover::before {
  width: 40px;
  transition: 0.3s;
}

.bike-nome {
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  margin: 10px 0px 10px 20px;
  color: var(--cor-12);
}

.bike-preco {
  color: var(--cor-09);
  font-size: 1.15rem;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .introducao-escolha-span {
    font-size: 2.5rem;
    margin: 0px;
  }
  .introducao-escolha {
    margin: 40px 30px;
  }
}
