:root {
  --azul-escuro: #122ab2;
  --azul-claro: #2c70ff;
  --azul-agua: #66d9eb;
  --cinza-claro: #f7f7f7;
  --cinza: #a4a4a4;
  --cinza-escuro: #7c7c7c;
  --rosa: #f9265e;
  --roxo: #ae81ff;
  --branco: #fff;
  --preto: #222222;
}
