#vantagens {
  padding: 50px 0px;
}

.width-300 {
  max-width: 300px;
  margin: 0px 20px;
  height: 250px;
}

#vantagens p {
  color: var(--cinza-escuro);
  font-size: 1.2rem;
  line-height: 1.5;
}
#vantagens h2 {
  margin: 20px 0;
  font-size: 2rem;
  padding-left: 15px;
}

#vantagens li:first-child h2 {
  border-left: 8px solid var(--roxo);
}
#vantagens li:nth-child(2) h2 {
  border-left: 8px solid var(--rosa);
}
#vantagens li:nth-child(3) h2 {
  border-left: 8px solid var(--azul-agua);
}

@media (max-width: 1000px) {
  .v-quebra {
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .v-quebra-1 {
    flex-direction: row;
  }
  .width-300 {
    max-width: inherit;
  }
}

@media (max-width: 500px) {
  .v-quebra-1 {
    flex-direction: column;
  }
}
