html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

main {
  display: grid;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  margin-top: 60px;
}

h1,
main p,
h2 {
  font-size: 3rem;
  text-align: center;
  color: #a3ab78;
  line-height: 1.5;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #10454f;
}

.alfabeto {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

#chute-inteiro {
  margin: 0 auto;
  display: grid;
  padding: 20px 0px;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}

form {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

input {
  grid-column: 2/3;
  width: 90%;
  padding: 16px 12px;
  font-size: 2rem;
  color: #506266;
  background-color: #a3ab78;
  margin: 10px 20px;
  border: 2px solid #bde038;
  font-family: "Press Start 2P", cursive;
  border-radius: 5px;
  letter-spacing: 0.6em;
  text-align: center;
  text-transform: uppercase;
}
body a {
  padding: 15px;
  border-radius: 5px;
  color: #506266;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: none;
  background-color: #bde038;
  cursor: pointer;
}

header {
  display: grid;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  position: absolute;
  position: fixed;
  left: 80px;
}

img {
  display: none;
  max-width: 100%;
}

body .chutou {
  color: #bde038;
  background-color: #506266;
  cursor: initial;
}

.ativo {
  display: block;
}

.perdeu,
.ganhou {
  padding: 200px 150px;
  margin: 0 auto;
  justify-self: center;
  background-color: #10454f;
  position: absolute;
}

main {
  display: grid;
  gap: 15px;
}

.erradas {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  main p {
    display: none;
    transition: 0.3s;
  }
}
@media (max-width: 900px) {
  header {
    left: 20px;
    transition: 0.3s;
  }
}
@media (max-width: 800px) {
  header {
    top: 200px;
    transition: 0.3s;
  }
}
@media (max-width: 600px) {
  input {
    font-size: 1rem;
    padding: 12px 8px;
    max-width: 90%;
  }
  body a {
    padding: 12px;
    margin: 5px;
  }
  .perdeu,
  .ganhou {
    margin: 0px 30px;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  header,
  header div {
    top: 0;
    display: flex;
  }
}
