.margin-left {
  margin-top: 80px;
  padding: 40px;
}

.parceiros-box {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: 1fr 1fr;
  margin: 40px auto;
  justify-content: center;
}

.parceiros-img {
  display: block;
  max-width: max-content;
}

.img1 {
  border-bottom: 2px solid var(--cor-02);
  border-right: 2px solid var(--cor-02);
}

.img2 {
  border-bottom: 2px solid var(--cor-02);
  border-right: 2px solid var(--cor-02);
}

.img3 {
  border-bottom: 2px solid var(--cor-02);
  border-right: 2px solid var(--cor-02);
}

.img4 {
  border-bottom: 2px solid var(--cor-02);
}

.img5,
.img6,
.img7 {
  border-right: 2px solid var(--cor-02);
}

.parceiros-img img {
  padding: 32px;
  border: 2px solid var(--cor-00);
}

@media (max-width: 950px) {
  .parceiros-box {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .img2 {
    border-right: none;
  }
  .img5,
  .img6 {
    border-bottom: 2px solid var(--cor-02);
  }
  .img6 {
    border-right: none;
  }
}

@media (max-width: 500px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    border: none;
    border-bottom: 2px solid var(--cor-02);
  }
  .img8 {
    border: none;
  }
  .parceiros-box {
    grid-template-columns: max-content;
    grid-template-rows: repeat(7, 1fr);
  }
  .margin-left {
    padding: 0px 30px;
  }
}
